/* Scss Document */

@import "compass/css3";
@import "variables";
@import "mixins";


body{
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*-------------------------------------------
general
-------------------------------------------*/

/*social icons*/
.social-icons {
	text-align: center;
}

.social-icons .fa {
	font-size: 2em;
}
.social-icons .fa {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: red;
	color: white;
	&:hover {
	background: gray;
	}
}
.social-icons  .nav
li {
	display: inline-block;
	margin: 0px 5px;
a {
	padding: 0px;
&:hover  {
	background: transparent;
}
}
}
